{% extends "base.html" %}
{% block content %}

    <h1 class="east-sea-dokdo-h1">Some Hot Waffle:</h1>
    <div class="container">
        <div class="row justify-content-around">
            {% for post in posts %}
                <div class="post col-lg-5 col-12 mb-4">
                    <h2>{{ post.title }}</h2>
                    <div class="author">Written by {{ post.author }}</div>
                    <div class="created_on">Created on: {{ post.created_on|date:"F j, Y" }}</div>
                    <div class="post-content">{{ post.content|truncatechars:50 }}</div>
                    <a class="btn full-post-button mt-auto"
                       href="{% url 'view_full_post' post.slug %}">See Full Post</a>
                    <a href="{% url 'user_page' post.author %}"
                       class="btn full-post-button mt-auto">Go to {{ post.author }}'s
                    Profile</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
