{% extends "base.html" %} {% block content %}

<h1>Hello, {{ username }}</h1>

<!-- User Rank Information -->
<h2>Your Rank: {{ user_rank.wafflescore }}</h2>
<p>Full Name: {{ user_rank.full_name }}</p>
<p>Bio: {{ user_rank.bio }}</p>
<p>Date of First Entry: {{ user_rank.dof }}</p>
<img
  src="{{ user_rank.user_image.url }}"
  alt="{{ username }}'s profile image"
/>

<h3>Your Posts</h3>
<ul>
  {% for post in posts %}
  <li>{{ post.title }} - {{ post.created_at }}</li>
  {% empty %}
  <li>No posts available.</li>
  {% endfor %}
</ul>

{% endblock %}
