{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}


<!-- Displays the username at the top with a border beneath -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-bottom border-2">
      {% if user.is_authenticated and user.username == username %}
      <h1>Hello, {{ user.username }}</h1>
      {% else %}
      <h1>{{ username }}'s Profile</h1>
      {% endif %}
    </div>
  </div>
</div>


<!-- User Rank Information -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 border-right border-md-3">
      <h2 id="wafflerankHeader" user_score="{{ user_rank.wafflescore }}"></h2>
      <p>
        Full Name:{% if user_rank.full_name == "" %} {{ username }} Has not put
        their full name {% else %}{{ user_rank.full_name }}{% endif %}
      </p>

      {% if user_rank.bio == "" %}
      <p>No user bio for this page</p>
      {% else %}
      <p>Bio: {{ user_rank.bio }}</p>
      {% endif %}

      <p>{{ username }} started waffling on: {{ user_rank.dof }}</p>

      {% if user.is_authenticated and user.username == username %}
      <button
        user_bio="{{ user_rank.bio }}"
        full_name="{{ user_rank.full_name }}"
        type="button"
        id="updateUser"
        class="btn"
        >
        Update your information
      </button>

      <button type="button" class="btn btn-warning" id="deleteUser">Delete your account</button>

      {% endif %}
    </div>

    <!--If statement to display users posts if they have any, followed by an for loop if there is -->

    {% if post_count == 0 %}
    <div class="col-12 col-md-9">
      <h3>{{ username }} is Yet to Waffle.</h3>
      <a href="{% url 'write_post' %}" class="btn btn-large">Write some waffle</a>
    </div>
    {% else %}
    <div class="col-12 col-md-9 post-container">
      <h3>{{ username }}'s Posts</h3>
      <div class="row">
          {% for post in posts %}
          <div class="post col-lg-6 col-12 m-2">
            <h2>{{ post.title }}</h2>
            <div class="author">Written by {{ post.author }}</div>
            <div class="created_on">Created on: {{ post.created_on|date:"F j, Y" }}</div>
            <div class="post-content" data-post-content="{{ post.content }}">{{ post.content|truncatechars:30 }}</div>
            {% if post_count > 0 %}
            <a class="full-post-button" href="{% url 'view_full_post' slug=post.slug %}">See Full
              Post</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<!-- Navbar for going between each pages, made with the help of chatGPT and code institute -->

{% if posts.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% if user.is_authenticated and user.username == username %}

<!--Modal to display the form for the user to update their info -->

<div class="modal" tabindex="-1" role="dialog" id="updateUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Update your details here!</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
        <form id="userForm" method="post" action="{% url 'edit_user' username=user.username  %}">
          {% csrf_token %}
          {{ user_form | crispy }}
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Deletion Modal, taken and modified from bootstraps documentation -->

<div class="modal" tabindex="-1" role="dialog" id="deleteAccountModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete your account?</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>You, your and all your posts will be permanently wiped from the database</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'delete_account' %}" method="post" id="confirmDelete">
          <button type="button" class="btn btn-warning">Delete</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
