{% load static %}

{% url 'index' as home_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap-styles.css' %}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/wafflehut-logo.svg' %}"/>
    <title>Wafflehut</title>
</head>
<body>
<header>
    <i class="fa-solid fa-stroopwafel header-big-size"></i>
</header>
    {% block content %}
    <!-- Content Goes here -->

    {% endblock content %}
    <script src="https://kit.fontawesome.com/bc5efad812.js" crossorigin="anonymous"></script>
</body>
</html>